body {
    box-sizing: content-box;
    padding-top: 70px;
    z-index: 0;
    font-family: 'Alegreya Sans', 'Droid Sans', Arial, Helvetica, sans-serif;
    font-size: 19px;
    background-color: #107070;
    height: 100%;
    min-height: 100%;
}

#about,
#portfolio,
#contact {
    color: #107070;
    font-size: 20px;
    font-weight: 600;
}

h1,
h3,
h4 {
    color: #107070;
    font-weight: 600;
}

p::first-letter {
    initial-letter: 8;
    font-family: 'Droid Sans', 'Alegreya Sans', Arial, Helvetica;
    font-size: 20px;
}

h4 {
    color: #ffffff;
}

.navbar-header-style {
    background: #107070;
}

#nav-bar-bg {
    background: #d6d6c2;
    border-bottom: 8px solid#107070;
}

.navbar-brand-style {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    width: 220px;
}

#container {
    align-self: auto;
    width: 100%;
    margin: 5px auto;
    float: left;
    margin-top: 48px;
}

#contact-container {
    align-self: auto;
    background: #f5f8f5;
    width: 100%;
    margin: 5px auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

.row {
    overflow: hidden;
}


/* [class*="col-"] { */

#columnid {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#rowid {
    padding: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.thumbnail {
    margin: 0px;
    border: transparent;
}

#columnid,
#column {
    background-color: #e6b3cc;
    border: 2px solid #f5f8f5;
}

.skills-hdr {
    background-color: #107070;
    width: 100%;
    font-weight: 800;
}

.figure {
    background-color: #e6b3cc;
    width: 25%;
    height: 15%;
    float: left;
    margin-right: 15px;
    margin-bottom: 3px;
}

.figcap {
    color: #0000ff;
    float: left;
    font-size: 20px;
    font-family: Cookie, cursive;
}

.profile-img {
    margin-top: 8px;
    height: 80%;
    width: 100%;
}

.img-responsive {
    margin-top: 8px;
}

.image-link {
    background-color: #e6b3cc;
    width: 20%;
    height: 18%;
    float: left;
    margin-right: 15px;
}

.app-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    #container {
        margin-top: 178px;
        width: 100%;
        float: left;
    }
    #contact-container {
        position: relative;
        top: 50px;
        width: 100%;
        float: left;
    }
}

#aboutme-row {
    height: 45px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
}

#about-me {
    color: #4aaaa5;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

#profile,
#skills,
#fullcolumn,
#contact-row {
    background-color: #e6b3cc;
    margin-left: 4px;
    margin-right: 4px;
    padding: 15px;
    padding-bottom: 10px;
    border: 2px solid #f5f8f5;
    max-width: 100%;
    margin-bottom: 12px;
}

#contact-row {
    /* height: 300px; */
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact-col {
    /* height: 500px; */
    padding-top: 30px;
    background-color: #e6b3cc;
    margin: 15px;
    border: 2px solid #f5f8f5;
    max-width: 98%;
}

#connect-withme {
    max-width: 100%;
    margin-top: 10px;
    border: 2px solid #f5f8f5;
    margin-left: 4px;
    margin-right: 4px;
    padding: 15px;
    padding-top: 2px;
}

.connect-text {
    color: #f5f8f5;
    font-weight: 700;
}

#gitcolR #linked-inR {
    margin-right: 0px;
    padding-right: 0px;
}

#linked-inL #stakeoverflowL {
    margin-left: 0px;
    padding-left: 0px;
}

#footer {
    padding-top: 4px;
    margin-top: 10px;
    background-color: #d6d6c2;
    color: #4aaaa5;
    font-size: 12px;
    text-align: center;
    height: 40px;
}

.copyright {
    height: 40px;
    font-weight: 600;
}

.navbar-brand-bg {
    background: #4aaaa5;
    color: #ffffff;
}

.navigation-bar {
    padding: 0px;
    height: 70px;
}

.navigation-links {
    float: right;
    margin-right: 20px;
}


/* Portfolio specific */

.portfolio-img {
    padding-top: 15px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#image-text {
    float: left;
    width: 245px;
}

#row-width {
    float: left;
    width: 100%;
    margin: 0px auto;
    padding: 10px;
}

#h3-style {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 230px;
    height: 40px;
    text-align: center;
    padding: 5px;
    bottom: 2px;
}

#p-style {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    padding: 4px;
    position: relative;
    bottom: 55px;
}

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
input[type=phone],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

textarea#message {
    height: 150px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}

.list {
    list-style-type: none;
}

.button {
    font-weight: 700;
    background-color: #009999;
    border: none;
    width: 180px;
    color: #000000;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #004d80;
    color: white;
}

.button:active {
    background-color: #009999;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}

#name,
#email,
#phone,
#message {
    width: 50%;
    padding: 12px;
    margin-bottom: 12px;
    font-family: Cursive, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
    line-height: 1.4;
    border-radius: 5px;
    background-color: #A2AB58;
    color: #0000ff;
    font-size: 18px;
    -webkit-appearance: none;
    box-shadow: inset 0 0 10px 0 #000000;
    outline: none
}